<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <CatAppender name="Cat"/>
    </Appenders>

    <Loggers>
        <Root level="ERROR">
            <AppenderRef ref="Cat"/>
        </Root>
        <logger name="com.ctrip.hotel.ibu" level="INFO"/>
        <logger name="com.ctrip.ibu.hotel" level="INFO"/>
    </Loggers>
</Configuration>